<div class="header-block-bg-video header-block-{{id}}">
     <div class="container">
		<div class="row">
			<div class="col-lg-12 bg-video-logo">
				<img src="{{logo}}" alt="logo"/>
			</div>
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 bg-video-title">
				<h1 class="header-block">{{header}}</h1>
			</div>
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 bg-video-text">
				{{{text}}}
			</div>
			<div class="col-lg-12 text-center btn-header-wrap">
				<a href="{{btn_first_action_url}}" {{#if first_btn_id }} id="{{first_btn_id}}" {{/if}} {{#if first_btn_onclick }} onclick="{{first_btn_onclick}}" {{/if}} class="btn {{#ifCond btn_first_inverse '==' 'inversed'}}inverse{{/ifCond}} br-white {{#ifCond btn_first_hidebtn '==' '1'}}hidden-xs{{/ifCond}}" {{#if btn_first_target}}target="blank"{{/if}}>{{btn_first_title}}</a>
				
				<a href="{{btn_second_action_url}}" {{#if second_btn_id }} id="{{second_btn_id}}" {{/if}} {{#if second_btn_onclick }} onclick="{{second_btn_onclick}}" {{/if}} class="btn btn1 {{#ifCond btn_second_inverse '==' 'inversed'}}inverse{{/ifCond}} br-white {{#ifCond btn_second_hidebtn '==' '1'}}hidden-xs{{/ifCond}}" {{#if btn_second_target}}target="blank"{{/if}}>{{btn_second_title}}</a>
			</div>
		</div>
	</div>
</div>
<style>
	.header-block-{{id}} {
		background-image: url('{{image}}');
		background-position: center center;
		background-repeat:  no-repeat;
	}

	.iPad.header-block-{{id}} {
		background-image: url('{{image}}');
		background-position: center center;
		background-repeat:  no-repeat;
		background-size: cover !important;
	}
</style>
<script type="text/javascript">
	jQuery(document).ready(function(){
		var url = "{{bg_video}}",
			video = '',
	        format = url.substring(url.lastIndexOf('.') + 1, url.length);
        
	    if (format === 'mp4' || format === 'ogv'|| format === 'webm') {
	        video = "<video class='custom-video-wrapper' autoplay loop muted><source src='" + url + "' type='video/" + (format === 'ogv' ? 'ogg' : format) + "'></source></video>";
	        video += "<div class='custom-video-wrapper-overlay'></div>";
	    }

		jQuery(".header-block-{{id}}").append(video);
		// Centering content
		var height = jQuery('.header-block-{{id}} .row').height(),
			totalHeight = jQuery('.header-block-{{id}}').height();
		jQuery('.header-block-{{id}} .row').height(height).css('top', (totalHeight - height) / 2 );
		jQuery(window).on('resize', function() {
			var height = jQuery('.header-block-{{id}} .row').height(),
				totalHeight = jQuery('.header-block-{{id}}').height();
			jQuery('.header-block-{{id}} .row').height(height).css('top', (totalHeight - height) / 2 );
		});
		// Adding parallax to video
		jQuery(window).on('scroll', function () {
	        var scrolled = jQuery(document).scrollTop() - jQuery('.header-block-{{id}}').offset().top;
	        jQuery('.header-block-{{id}} .custom-video-wrapper').css('transform', 'translate3d(0, ' + scrolled + 'px, 0)');
	    });
	    // Bug with iPad overlay
	    if (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream) {
	    	jQuery(".header-block-{{id}}").addClass('iPad');
	    }
    });
</script>
