<section class="call-to-action-bg-v3 call-to-action-bg-{{id}}">
	<div id="background-block-{{id}}" class="background-block {{#ifCond parallax '==' '1'}}parallax{{/ifCond}}" {{#if image}} style="background-image : url({{image}});" {{/if}}></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{{#if header}}
				<h2 class="h2-block">{{header}}</h2>
				{{/if}}
			</div>
			<div class="col-lg-12">
				<a href="{{action_url}}" target="_blank" class="btn btn-action br-black">{{action_text}}</a>
			</div>
		</div>
	</div>
</section>
<script>
	jQuery(document).ready(function() {
			jQuery(window).scroll(function () {
		        var scrolled = jQuery(document).scrollTop() - jQuery('.call-to-action-bg-{{id}}').offset().top;
		        jQuery('#background-block-{{id}}.parallax').css('top', scrolled + 'px');
		    });
	});
</script>