<section class="landing-photo landing-photo-{{id}}">
    <div id="background-block-{{id}}" class="background-block {{#ifCond parallax '==' '1'}}parallax{{/ifCond}}" {{#if image}} style="background-image : url({{bg_image}});" {{/if}}></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="header-block">{{header}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="photo-container">
                	{{#if image}}
                		<img src="{{image}}" alt="">
                	{{/if}}
                </div>
                <div class="btn-container">
                	<a href="{{btn_url}}" class="btn br-white read-more-btn">{{btn_text}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    jQuery(document).ready(function() {
            if (jQuery(document).width() < 400) {
                jQuery('#background-block-{{id}}').removeClass('parallax');
            }
            jQuery(document).resize(function() {
                if (jQuery(document).width() < 400) {
                    jQuery('#background-block-{{id}}').removeClass('parallax');
                } else {
                    jQuery('#background-block-{{id}}').addClass('parallax');
                }
            });
            jQuery(window).scroll(function () {
                var scrolled = jQuery(document).scrollTop() - jQuery('.landing-photo-{{id}}').offset().top;
                jQuery('#background-block-{{id}}.parallax').css('top', scrolled + 'px');
            });
    });
</script>