<section class="block_wp_downloads block_wp_downloads-{{id}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="header-block">{{{header}}}</span></h1>
            </div>
            <div class="col-lg-12">
                {{#if html_list.length}}
                    <ul id="accordion-{{id}}" >
                    {{#each_with_sort html_list "order"}}         
                        <li>
                             <a class="link_html" target="_blank" href="{{url}}"><i class="{{icon}}"></i> {{title}}</a>
                        </li>
                      {{/each_with_sort}}
                    </ul>
                {{/if}}
            </div>
           <div class="col-lg-12">
                <form id="block_wp_downloads-form" accept-charset="utf-8">
                    <!-- Url field (required) -->
                    <input type="text" name="url"  id="block_wp_downloads-email" placeholder="{{url_pl}}" required />
                    <!-- Url install Qoob -->
                    <input type="hidden" name="hidden" value="wp-admin/plugin-install.php?s=qoob&tab=search&type=term"/>
                    <!-- Subscriber button -->
                    <input type="button" class="inverse" value="{{value_title}}"/>
                </form>
        </div>
        </div>
    </div>
</section>
<script type="text/javascript">
function installQoob() {
var form = jQuery('#block_wp_downloads-form');
  var link_qoob = form.find("input[type='hidden']").val();
  var current_url = form.find("input[type='text']").val() + "/" + link_qoob;

   if((current_url.indexOf("http://") + 1 == 0) && (current_url.indexOf("https://") + 1 == 0)) {
    form.find("input[type='text']").css({
      "box-shadow": "0px 0px 10px 1px red inset"
    });
   return false;
   }
  else {
     form.find("input[type='text']").css({
      "box-shadow": "none"
    });
   window.open(current_url,'_blank');
   }
}

jQuery(document).ready(function() {
    jQuery('#block_wp_downloads-form').find("input[type='text']").on("focus", function() {
 jQuery(this).val("http://");
jQuery('#block_wp_downloads-form').on('keydown', function(event) {
    if(event.keyCode == 13) {
       event.preventDefault();
       installQoob();
    }
 });
});

jQuery('#block_wp_downloads-form input[type=button]').on('click', function(event) {
installQoob();
});
   });
</script>
