<section class="block_wp_downloads block_wp_downloads-{{id}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="header-block">{{{header}}}</span></h1>
            </div>
            <div class="col-lg-12">
                {{#if html_list.length}}
                    <ul id="accordion-{{id}}" >
                    {{#each_with_sort html_list "order"}}         
                        <li>
                             <a class="link_html" href="{{url}}"><i class="{{icon}}"></i> {{title}}</a>
                        </li>
                      {{/each_with_sort}}
                    </ul>
                {{/if}}
            </div>
           <div class="col-lg-12">
                <form id="block_wp_downloads-form" action="/" accept-charset="utf-8" method="post">
                    <!-- Email field (required) -->
                    <input type="text" name="email" id="block_wp_downloads-email" placeholder="{{email_pl}}"/>
                    <!-- Subscriber button -->
                    <input type="submit" id="block_wp_downloads-install" class="inverse" value="{{contact_me}}"/>
                </form>
        </div>
        </div>
    </div>
</section>
<script type="text/javascript">
jQuery(document).ready(function() {
//   jQuery("#block_wp_downloads-form").attr("action", "");
//    jQuery( "#block_wp_downloads-form input[type='text']" ).on("input", function() {
//    var link_qoob = "wp-admin/plugin-install.php?s=qoob&tab=search&type=term";
//    var current_url = jQuery( "#block_wp_downloads-form input[type='text']").val();
//   jQuery("#block_wp_downloads-form").attr("action", current_url + "/" + link_qoob );
// });

jQuery( "#block_wp_downloads-form input[type=submit]").click(function() {
if(jQuery( "#block_wp_downloads-form input[type=text]").val() == "") {
alert("Pusto");
return false;
}
else {
   window.location.reload("http://yandex.ru");
}
});
   });
</script>
