<section class="block-image-download block-image-download-{{id}}">
	<div id="background-block-{{id}}" class="background-block {{#ifCond parallax '==' '1'}}parallax{{/ifCond}}"  style="{{#if image}}background-image : url({{image}}); {{/if}} {{#if item_icon_color}} background-color : {{item_icon_color}};" {{/if}}></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{{#if header}}
				<h2 class="header-block">{{{header}}}</h2>
				{{/if}}
			</div>
		</div>
	</div>
</section>
<script>
	jQuery(document).ready(function() {
			jQuery(window).scroll(function () {
		        var scrolled = jQuery(document).scrollTop() - jQuery('.block-image-download-{{id}}').offset().top;
		        jQuery('#background-block-{{id}}.parallax').css('top', scrolled + 'px');
		    });
	});
</script>