<section class="block-image-download block-image-download-{{id}}">

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{{#if header}}
				<h2 class="header-h2">{{{header}}}</h2>
				{{/if}}
			</div>
		</div>
	</div>
</section>
<style>
  .block-image-download.block-image-download-{{id}} {
    background-image: url('{{desktop}}');
    background-image: -webkit-image-set(url('{{desktop}}') 1x, url('{{desktop_retina}}') 2x);
  }
  @media (max-width: 991px) {
     .block-image-download.block-image-download-{{id}} {
      background-image: url('{{tablet}}');
      background-image: -webkit-image-set(url('{{tablet}}') 1x, url('{{tablet_retina}}') 2x);
    }
  }
  @media (max-width: 767px) {
    .block-image-download.block-image-download-{{id}} {
      background-image: url('{{mobile}}');
      background-image: -webkit-image-set(url('{{mobile}}') 1x, url('{{mobile_retina}}') 2x);
    }
}
</style>
