<section class="team-block step vertical">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="header-block">{{header}}</h1>
				{{{text}}}
			</div>
		</div>
		<div class="row">
		  {{#if team.length}}
			{{#each_with_sort team "order"}}

				{{#ifCond order "==" 0}}
					<div class="col-lg-12 col-sm-12 team-wrap step1">
				{{/ifCond}}
				{{#ifCond order "==" 1}}
					<div class="col-lg-6 col-sm-6 team-wrap step2">
				{{/ifCond}}
				{{#ifCond order "==" 2}}
					<div class="col-lg-6 col-sm-6 team-wrap step2">
				{{/ifCond}}
				{{#ifCond order "==" 3}}
					<div class="col-lg-4 col-sm-4 team-wrap step3">
				{{/ifCond}}
				{{#ifCond order "==" 4}}
					<div class="col-lg-4 col-sm-4 team-wrap step3">
				{{/ifCond}}
				{{#ifCond order "==" 5}}
					<div class="col-lg-4 col-sm-4 team-wrap step3">
				{{/ifCond}}
				{{#ifCond order ">" 5}}
					<div class="col-lg-3 col-sm-6 team-wrap step4">
				{{/ifCond}}
					{{#if image}}
						<div class="team-img" style="background-image:url({{image}})"></div>
					{{/if}}
					{{#if title}}
						<h5 class="team-name">{{title}}</h5>
					{{/if}}
					{{#if position}}
						<div class="team-position">{{position}}</div>
					{{/if}}
					<div class="team-social">
						{{#each_with_sort social "order"}}
							<a class="social-icons {{icon}}" href="{{ url }}"></a>
						{{/each_with_sort}}
					</div>
				</div>
			{{/each_with_sort}}
          {{/if}}
        </div>
        <div class="row">
        {{#each_with_sort skills "order"}}
	        
	        	<div class="col-lg-2 col-sm-4">
		        		<div class="progress-wrap clearfix">
		        			<div class="progress vertical bottom">
						    	<div class="progress-bar" role="progressbar" data-transitiongoal="{{percent}}"></div>
							</div>
							<span class="skill-wrap">{{title}} <span class="percent">0</span>%</span>
							<span  class="point"></span>
		        		</div>
		        </div>

        {{/each_with_sort}}
        </div>
	</div>
</section>
<script type="text/javascript">
	jQuery(document).ready(function() {
	    jQuery('.progress .progress-bar').progressbar({
	    	display_text: "none",
	    	update: function(percent, element) {
	    		jQuery(element).parents('.progress').siblings('span').find('.percent').html(percent);
	    		if (percent >= 98) {
	    			jQuery(element).css('border-radius', '4rem');
	    			jQuery(element).addClass('full-progress');
	    		};
	    	}
	    });
	});
</script>