<div class="progressbar-block progressbar-block-circle">
	<div class="container">
		<div class="row">
		  {{#if counters.length}}
			{{#each_with_sort counters "order"}}
				<div class="col-lg-3 col-sm-6 progressbar-item">
					<div class="progress-main progress-{{order}}-{{id}}">
					</div>
				</div>
				<script type="text/javascript">
				jQuery(document).ready(function() {
					var bar = new ProgressBar.Circle('.progress-{{order}}-{{id}}', {
						color: '#939497',
					    strokeWidth: 2,
					    trailColor: '#e5e5e5',
					    trailWidth: 2,
					    text: {
					        value: "<span class='progress-precents'>{{precents}} %</span><h5 class='progress-title'>{{title}}</h5>"
					    },
					    duration: 2000,
					    // Set default step function for all animate calls
						step: function(state, circle) {
						    var value = Math.round(circle.value() * 100);
						    if (value === 0) {
						      circle.setText("<span class='progress-precents'>0 %</span><h5 class='progress-title'>{{title}}</h5>");
						    } else {
						      circle.setText("<span class='progress-precents'>" + value + " %</span><h5 class='progress-title'>{{title}}</h5>");
						    }
						}
					});
					var waypoint = new Waypoint({
					  element: document.getElementsByClassName('progress-{{order}}-{{id}}'),
					  handler: function() {
					  	bar.animate( ({{precents}} / 100) );
					  	// Triggering animation on mouseenter event
						jQuery('.progress-{{order}}-{{id}}').mouseenter(function(e) {
							e.stopPropagation();
							e.stopImmediatePropagation();
							bar.set(0);
							bar.animate(({{precents}} / 100), {easing: "bounce"});
						});

						this.destroy();
					  },
					    offset: '75%'
					});
				});
				</script>
			{{/each_with_sort}}
          {{/if}}
          </div>
	</div>
</div>