<section class="video-carousel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="header-block">{{header}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">
                <div class="owl-carousel video-carousel-{{id}}">
                    {{#if video.length}}
                        {{#each_with_sort video "order"}}
                            <div class="item-video" data-url="{{src.url}}"></div>
                        {{/each_with_sort}}
                    {{/if}}
                </div>                
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
jQuery(document).ready(function() {
    //Creating video for each carousel item, using data-url attribute of each one
    jQuery(".video-carousel-{{id}} .item-video").each(function() {
        var url = jQuery(this).data('url'),
            video = '',
            format = url.substring(url.lastIndexOf('.') + 1, url.length);

        if (format === 'mp4' || format === 'ogv' || format === 'webm') {
            video = "<video width='100%' height='100%' controls  preload='metadata'><source src='" + url + "' type='video/" + (format === 'ogv' ? 'ogg' : format) + "'></source></video>";
        }
        jQuery(this).append(video);
    });

    jQuery('.video-carousel-{{id}}').owlCarousel({
        margin: 50,
        video: false,
        lazyLoad: true,
        navText: [],
        nav: true,
        responsive: {
            0: {
                items: 1,
                margin: 0,
                center: true
            },
            480: {
                items: 1,
                center: true,
                margin: 0
            },
            678: {
                items: 1,
                center: true
            },
            960: {
                items: 1,
                center: true
            },
            1200: {
                items: 2
            }
        }
    });
});
</script>