<section class="block-image-bg block-image-bg-{{id}}">
	{{#if header}}
	<h2 class="h2-block">{{{header}}}</h2>
	{{/if}}
	<img id="background-block-{{id}}" class="background-block imagedesktop" src="{{imagedesktop}}" />
	<img id="background-block-{{id}}" class="background-block imagetablet"  src="{{imagetablet}}" />
	<img id="background-block-{{id}}" class="background-block imagemobile"  src="{{imagemobile}}" />
</section>
