<section class="block-image-bg block-image-bg-{{id}}">
	{{#if header}}
	<h2 class="header-block">{{{header}}}</h2>
	{{/if}}
	<img id="background-block-{{id}}" class="background-block imagedesktop" {{#if imagedesktop}} src="{{imagedesktop}}" {{/if}}/>
	<img id="background-block-{{id}}" class="background-block imagetablet" {{#if imagetablet}} src="{{imagetablet}}" {{/if}}/>
	<img id="background-block-{{id}}" class="background-block imagemobile" {{#if imagemobile}} src="{{imagemobile}}" {{/if}}/>
</section>
