<section class="call-to-action-bg-v4 call-to-action-bg-v4-{{id}}">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{{#if header}}
				<h2 class="header-block">{{{header}}}</h2>
				{{/if}}
			</div>
		</div>
	</div>
	<div id="background-block-{{id}}" class="background-block imagedesktop" {{#if imagemobile}} style="background-image : url({{imagedesktop}});" {{/if}}></div>
	<div id="background-block-{{id}}" class="background-block imagetablet" {{#if imagetablet}} style="background-image : url({{imagetablet}});" {{/if}}></div>
	<img id="background-block-{{id}}" class="background-block imagemobile" {{#if imagemobile}} src="{{imagemobile}}" {{/if}}/>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<a href="{{action_url}}" class="btn btn-action br-white">{{action_text}}</a>
			</div>
		</div>
	</div>
</section>
