<section class="contact-image contact-image-{{id}}">
    <div id="background-block-{{id}}" class="background-block imagedesktop" {{#if image}} style="background-image : url({{image}});" {{/if}}></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{#if header}}
                <h2 class="h2-block">{{header}}</h2>
                {{/if}}
            </div>
            <div class="col-lg-12">
            <div class="contact-image-text">
                 {{{text}}}
            </div>
            </div>
            <div class="col-lg-12">
                <form action="sendmail.php" accept-charset="utf-8" method="post">
                    <!-- Email field (required) -->
                    <input type="text" name="email" id="email_webark" placeholder="{{email_pl}}"/>
                    <!-- Subscriber button -->
                    <input type="submit" id="sendmail" class="inverse" value="{{contact_me}}"/>
                </form>
        </div>
        </div>
    </div>
    <img id="background-block-{{id}}" class="background-block imagetablet" src="{{imagetablet}}" />
</section>
<script>
jQuery(document).ready(function() {
jQuery("#sendmail").bind("click", create_order);
    function create_order(){
    // if (request_sent) {
    //     alert('Ваша заявка уже принята ранее. Спасибо');
    //     return false;
    // }
    var form = jQuery(this).parents('form:first');

    var email_webark = form.find("#email_webark").val();
    if((email_webark === "")) { 
         jQuery(".main-popup_error h3").text("Ошибка");
       jQuery(".main-popup_error").css("display", "block");
       
    }
    else {
    jQuery.ajax({
      type: "POST",
      url: "sendmail.php",
      data: { "email_webark" : email_webark},
      cache: false,
      success: function(response){
        request_sent = true;
        var messageResp = new Array('Сообщение успешно отправлено','Сообщение не отправлено!','Ошибка');
        var resultStat = messageResp[Number(response)];
      },
      //error: function(response){
    });
    }
    return false;

  }
  });
</script>