<section class="contact-image contact-image-{{id}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{#if header}}
                <h2 class="h2-block">{{header}}</h2>
                {{/if}}
            </div>
            <div class="col-lg-12">
                <div class="contact-image-text">
                 {{{text}}}
             </div>
         </div>
         <div class="col-lg-12">
            <form accept-charset="utf-8" method="post">
                <!-- Email field (required) -->
                <input type="text" name="email" id="email_webark" placeholder="{{email_pl}}"/>
                <!-- Subscriber button -->
                <input type="submit" class="inverse" id="sendmail" value="{{contact_me}}"/>
            </form>
            <div id="sendmail-message"></div>
        </div>
    </div>
</div>
</section>
<style>
  .contact-image.contact-image-{{id}} {
    background-image: url('{{desktop}}');
    background-image: -webkit-image-set(url('{{desktop}}') 1x, url('{{desktop_retina}}') 2x);
  }
  @media (max-width: 1224px) {
    .contact-image.contact-image-{{id}} {
      background-image: url('{{tablet}}');
      background-image: -webkit-image-set(url('{{tablet}}') 1x, url('{{tablet_retina}}') 2x);
    }
  }
  @media (max-width: 767px) {
       .contact-image.contact-image-{{id}} {
   background-image: none;
   background: #fff;
  }
}
</style>

<script>
    jQuery(document).ready(function() {
        jQuery("#email_webark").on("input", function() {
          jQuery("#email_webark").css({
            "box-shadow": "none"
        });
      });
        var pattern = /^[a-z0-9_-]+@[a-z0-9-]+\.([a-z]{1,6}\.)?[a-z]{2,6}$/i;
        var mail = jQuery("#email_webark");
        var request_sent = false;
        jQuery("#sendmail").bind("click", sendmail);
        var currentemail;
        function sendmail(){
          if(currentemail == jQuery(this).parents('form:first').find("#email_webark").val()) {
             jQuery("#sendmail-message").text("Your message is already sent");
                  jQuery("#email_webark").css({
                    "box-shadow": "0px 0px 10px 1px red inset"
                });
                  return false;
          }
          if(mail.val() != ''){
                if(mail.val().search(pattern) == 0){
                    jQuery("#email_webark").css({
                        "box-shadow": "none"
                    });
                 }
                 else{
                   jQuery("#email_webark").css({
                    "box-shadow": "0px 0px 10px 1px red inset"
                });
                   return false
               }
           }
           else{
            jQuery("#email_webark").css({
                "box-shadow": "0px 0px 10px 1px red inset"
            });
            return false
    }
    var form = jQuery(this).parents('form:first');
    var email_webark = form.find("#email_webark").val();
    if((email_webark === "")) { 
       jQuery("#email_webark").css({
        "box-shadow": "0px 0px 10px 1px red inset"
    });
       return false;     
   }
   else {
    jQuery.ajax({
      type: "POST",
      url: "/qoob/wp-admin/admin-ajax.php",
      type: "POST",
      dataType: 'json',
      data: ({
       action : 'qoob_sendmail',
       email_webark : email_webark
   }),
      cache: false,
      success: function(response) {
        console.log(response);
        request_sent = response.data.response_status__client;
        jQuery("#sendmail-message").text(response.data.response_text_client);
        currentemail = form.find("#email_webark").val();
        console.log(response.data.response_text_client);
    },
    error: function(response) {
        request_sent = response.data.response_status__client;
        jQuery("#sendmail-message").text(response.data.response_text__client);
    }
});
}
return false;

}
});
</script>