<div class="achievements-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			<div class="achievements-wrap-text">
				<div class="downloads_achievement">{{downloads_achievement}} <span>Downloads</span></div>
				<div class="installs_achievement">{{installs_achievement}} <span>Active installs</span></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<form id="achievements-block-form" accept-charset="utf-8">
					<!-- Url field (required) -->
					<input type="text" name="url" placeholder="{{url_pl}}"/>
					 <!-- Url install Qoob -->
                    <input type="hidden" name="hidden" value="wp-admin/plugin-install.php?s=qoob&tab=search&type=term"/>
					<!-- Subscriber button -->
					<input type="button" class="inverse" {{#if btn_id }} id="{{btn_id}}" {{/if}} {{#if btn_onclick }} onclick="{{btn_onclick}}" {{/if}} value="{{value_text}}"/>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function installQoob() {
var form = jQuery('#achievements-block-form');
  var link_qoob = form.find("input[type='hidden']").val();
  var current_url = form.find("input[type='text']").val() + "/" + link_qoob;
   if((current_url.indexOf("http://") + 1 == 0) && (current_url.indexOf("https://") + 1 == 0)) {
   	 form.find("input[type='text']").css({
      "box-shadow": "0px 0px 10px 1px red inset"
    });
   return false;
   }
  else {
  	  form.find("input[type='text']").css({
      "box-shadow": "none"
    });
   window.open(current_url,'_blank');
   }
}

jQuery(document).ready(function() {
    jQuery('#achievements-block-form').find("input[type='text']").on("focus", function() {
 jQuery(this).val("http://");
jQuery('#achievements-block-form').on('keydown', function(event) {
	  jQuery('#achievements-block-form').find("input[type='text']").css({
      "box-shadow": "none"
    });
    if(event.keyCode == 13) {
       event.preventDefault();
       installQoob();
    }
 });
});

jQuery('#achievements-block-form input[type=button]').on('click', function(event) {
installQoob();
});
   });
</script>
