<div class="call-to-action-bg call-to-action-bg-{{id}} action-overlay">
	<div id="background-block-{{id}}" class="background-block {{#ifCond parallax '==' '1'}}parallax{{/ifCond}}" {{#ifCond image '!=' 'empty'}} style="background-image : url({{image}});" {{/ifCond}}></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="header-block">{{header}}</h1>
			</div>
			<div class="col-lg-12">
				<a href="{{action_url}}" class="btn btn-action br-white">{{action_text}}</a>
			</div>
		</div>
	</div>
</div>
<script>
	jQuery(document).ready(function() {
			jQuery(window).scroll(function () {
		        var scrolled = jQuery(document).scrollTop() - jQuery('.call-to-action-bg-{{id}}').offset().top;
		        jQuery('#background-block-{{id}}.parallax').css('top', scrolled + 'px');
		    });
	});
</script>