<section class="testimonial-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="header-block">{{header}}</h2>
                <div id="testimonial-{{id}}" class="owl-carousel owl-theme testimonial-carousel testimonial-carousel-center">
                {{#each_with_sort testimonial "order"}}
                    <div class="item testimonial-item clearfix">
                    {{#if image}}
                        <div class="testimonial-img" style="background-image: url('{{image}}');"></div>
                    {{/if}}
                        <div class="testimonial-content">
                            <h4>{{title}}</h4>
                            {{{text}}}
                        </div>
                    </div>
                {{/each_with_sort}}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#testimonial-{{id}}').owlCarousel({
        items: 1,
        dots: true,
        dotsEach: true,
        nav: false
    });
});
</script>