<section class="testimonial-block arrow {{#ifCond bg_row '==' 'gray_row'}}gray-bg{{/ifCond}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="header-block">{{header}}</h2>
                <div id="testimonial-{{id}}" class="owl-carousel owl-theme testimonial-carousel testimonial-carousel-center testimonial-carousel-arrow">
                {{#each_with_sort testimonial "order"}}
                    <div class="item testimonial-item clearfix">
                        <div class="testimonial-content">
                            <h4>{{title}}</h4>
                            {{{text}}}
                        </div>
                    </div>
                {{/each_with_sort}}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery('#testimonial-{{id}}').owlCarousel({
        items: 1,
        dots: true,
        dotsEach: true,
        nav: true,
        navText : ['','']
    });
});
</script>